@{
    ViewData["title"] = "بازیابی رمز عبور";
}

<form asp-controller="Accounts" asp-action="ForgetPassword" method="post">
    <div class="form-group">
        <label class="control-label"> ایمیل خود را وارد کنید.</label>
        <input class="form-control" type="email" name="email"/>
        <input type="submit" value="ارسال ایمیل"/>
    </div>
</form>