@model ResetPasswordViewModel

@{
    ViewData["title"] = "بازنشانی رمز عبور";
}
<h2 > باز نشانی رمز</h2>
<hr/>
<form asp-action="ResetPassword" asp-controller="Accounts" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control"/>
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="RePassword" class="control-label"></label>
        <input asp-for="RePassword" class="form-control"/>
        <span asp-validation-for="RePassword"></span>
    </div>
    <input type="hidden" asp-for="username"/>
    <input type="hidden" asp-for="token"/>
    <input type="submit" class="btn btn-primary"/>
</form>