@{
    ViewData["title"] = "تغییر رمز عبور";
}
<p class="text-center text-success mt-5"> رمز عبور با موفقیت تغییر یافت.</p>
<p> بعد از 5 ثانیه به صفحه بعد منتقل می شوید.</p>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            function gotoindex() {
                window.location.href = "/home/index";
            }

            setTimeout(gotoindex, 5000);
        });
    </script>
}